{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "env": {
    "browser": true,
    "node": true
  },

  "extends": [],
  "plugins": ["import", "react-hooks"],
  "rules": {}
}
